.root{
    background-color: #6e0d0d;
    width: 100vw;
    position: fixed;
    opacity: 0.95;
    top: 0;
    left: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box
}

.jestLink {
    background-color: #9b2c2c;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .jestLink:hover {
    background-color: #b33a3a;
  }