/* App.modules.css */

.root {
  font-family: Arial, sans-serif;
  padding-top: 80px;
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  min-height: 90vw;
  width: 100%;
}
